a.ui.header:link {
    color: #283438;
}

/* visited link */
a.ui.header:visited {
    color: #759ba9;
}

/* mouse over link */
/*a.ui.teal.header:hover {*/
 /* color: blue !important
}*/

/* selected link */
a.ui.header:active {
    color: yellow;

} 

.ui.circular.label{
    margin-left: 50px;
}

.ui.header.content{
    margin-left: 20px;
    margin-bottom: 1rem;
    display:inline;
    font-size: 1.2rem;
    font-weight: 300;

}
.ui.header.content:hover{
	text-decoration: underline;
	}

.ui.link a.item:hover{
	text-decoration: underline;

}

.ui.link a.item{
	color:#4E6E79;
	margin-right: 1rem;
}
#mainfile{
	margin-bottom: 0.3rem;
	margin-top: 0;
	padding-top: 1.5rem;
    padding-bottom: 0.2rem;
    background-color: #F9FFFF;
;
}
.ui.link{
	float:right;
}
#comm{
	margin-right:1rem;
}
.ui.tiny{
	padding-left: 1rem;
}

#dj{
	margin-left: 1rem;
}



