<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/semantic.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>

<div class="ui two column centered grid">
    <div class="column" id="hackernews_content">


    </div>
</div>


<script src="/static/js/jquery-1.11.3.min.js"></script>
<script src="/static/js/semantic.js"></script>
<script id="sdata" src="/static/data/test.json"></script>
<script src="/static/js/main.js"></script>

<script>
  loaddata(data);
</script>

</body>
</html>
